*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #e2e2e0;
}

.navbar{
    display: flex;
    background-color: orange;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img{
    width: 250px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    color: black;
    text-decoration: none;
}

.nav-links a:hover{
    font-weight: bold;
    color: white;
    font-size: 18px;
    text-decoration: underline;
}

.hero{
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(images/pollocampero.jpg) center/cover no-repeat;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hero-content{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.hero-content h1{
    font-size: 50px;
    text-shadow: 5px 5px 10px black;
}

.hero-content p{
    font-size: 18px;
}

.hero-content a button{
    background-color: orange;
    height: 40px;
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 5px;
    font-weight: bold;
}

.hero-content button:hover{
    color: white;
    height: 45px;
    font-size: 18px;
}

.producto-destacado{
    display: flex;
    padding: 40px;
    background-color: #fdc500;
    border-radius: 10px;
    margin: 40px;
}

.producto-img img{
    width: 300px;
    border-radius: 10px;
}

.contenido-producto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 80px;
    justify-content: center;
}

.contenido-producto a{
    display: flex;
    background-color: orange;
    height: 40px;
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 5px;
    font-weight: bold;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.producto2{
     display: flex;
    padding: 40px;
    background-color: #fdc500;
    margin: 40px;
    border-radius: 10px;
    flex-direction: row-reverse;
}

.galeria{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px;
}

.card{
    background-color: orange;
    padding: 20px;
    width: 300px;
    height: 500px;
    border: solid;
    border-radius: 10px;
}

.card img{
    width: 100%;
    border-radius: 5px;
}